.box{
    border: 1px solid black;
    height: 200px;
    width: 150px;
    background-image: linear-gradient(red,blue);
    background-image: linear-gradient(to right,red,blue);
    background-image: linear-gradient(75deg, white,black,grey);
    

}

.div{
    border: 1px solid black;
    height: 200px;
    width: 150px;
    margin: 10px;
    background-image: radial-gradient(circle, red,blue,orange);
    background-image: radial-gradient(yellow 5%,orange 10%, red 50%);

}
.conic{
    border: 1px solid black;
    height: 200px;
    width: 150px;
    margin: 10px;
    background-image: conic-gradient;
    
}